HOST=127.0.0.1
PORT=4173
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
MY_SOLANA_WALLET=EwAh2VbsbgG2xWsFsDYMjmCUqq48cSkms1HATZDi3Vgq
DEVELOPER_WALLETS=EwAh2VbsbgG2xWsFsDYMjmCUqq48cSkms1HATZDi3Vgq
API_FOOTBALL_KEY=replace_with_api_football_key
