API_FOOTBALL_KEY=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
MY_SOLANA_WALLET=EwAh2VbsbgG2xWsFsDYMjmCUqq48cSkms1HATZDi3Vgq
DEVELOPER_WALLETS=EwAh2VbsbgG2xWsFsDYMjmCUqq48cSkms1HATZDi3Vgq
SESSION_SECRET=replace-with-a-long-random-secret
